@font-face {
  font-family: normal;
  src: url(../fonts/normal.otf);
}
@font-face {
  font-family: light;
  src: url(../fonts/light.otf);
}
@font-face {
  font-family: bold;
  src: url(../fonts/bold.otf);
}
/* reset */
* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  font-family: light, sans-serif;
  color: #ffffff;
}
strong {
  font-family: bold, sans-serif;
}

body {
  overflow-x: hidden;
}
.container {
  width: 1400px;
  margin: 0 auto;
  animation: show 0.5s forwards;
}
.img {
  display: block;
  width: 100%;
}
/* animações */
@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes entrada {
  from {
    transform: translate3d(-80px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes entrada-top {
  from {
    transform: translate3d(0, 80px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
/* botões */
.btn,
.btn_ligth,
.btn_item {
  background: #480600;
  border-radius: 10px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  font-size: 20px;
  transition: 0.4s;
  text-align: center;
}
.btn_item {
  background: #6e1e00;
  font-size: 30px;
  letter-spacing: 1px;
  height: 60px;
  border-radius: 8px;
}
.btn_ligth {
  color: #e23803;
  background: #fff;
  height: 78px !important;
  font-size: 24px;
  max-width: 600px;
  margin: 100px auto;
}
.btn:hover,
.btn_ligth:hover,
.btn_item:hover {
  box-shadow: 0px 0px 20px #00000094;
  transform: scale(1.03);
}
/* tipografia */
p {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 12px;
}
.titulo {
  font-size: 35px;
  line-height: 40px;
  font-family: bold, sans-serif;
  text-align: center;
}
.titulo::after {
  display: block;
  content: "";
  width: 300px;
  height: 5px;
  background: #fff;
  margin: 20px auto 0 auto;
}
.main_titulo {
  font-size: 35px;
  font-family: bold, sans-serif;
  margin-bottom: 40px;
  margin-top: 60px;
  animation: entrada 0.7s forwards;
}
.sub {
  display: grid;
  grid-template-columns: 1fr 210px;
  gap: 20px;
  margin-top: 32px;
  align-items: center;
}
.sub h2 {
  font-size: 24px;
}
/* background */
.bg {
  background: transparent
    radial-gradient(closest-side at 50% 20%, #ea4700 0%, #a13100 100%) 0% 0%
    no-repeat padding-box;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: 0.4s;
}
.bg svg {
  max-height: 700px;
  padding-top: 50px;
}
.bg .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  opacity: 0.4;
}
/* header */
header {
  background: #6e1e00;
  box-shadow: 0px 0px 20px #00000094;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
}
header a {
  color: #de4300;
  transition: 0.4s;
  transform-origin: left right;
}
header a:hover,
header a.active {
  color: #fff;
}
.btn_mobile,
.oculto {
  display: none;
}
.infos_header a {
  font-size: 20px;
  margin-left: 40px;
}
.logo svg {
  height: 60px;
}
.infos_header {
  display: flex;
  align-items: center;
}
.nav_menu {
  display: flex;
  padding-right: 50px;
}
.nav_menu a {
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
  margin-left: 20px;
}

/* submenus */
.dropdownmenu {
  position: absolute;
  background: transparent;
  z-index: 200;
  padding-top: 20px;
  top: 28px;
  transition: ease 0.5;
  border: none;
}
.dropdownmenu li img {
  width: 78px;
}
.dropdownmenu li a {
  display: flex;
  align-items: center;
  margin-left: 0 !important;
  background: #4f100e;
  margin-bottom: 16px;
  transition: 0.4s;
  border-radius: 5px;
  color: #fff;
  padding: 10px 15px;
}
.dropdownmenu li a:hover {
  background: #480600;
  box-shadow: #6e1d006e inset 2px 2px 3px;
}
.crie {
  font-size: 20px !important;
  text-align: center;
  color: #fff;
}
[data-dropdown] {
  position: relative;
}
[data-dropdown] .dropdownmenu {
  display: none;
}
[data-dropdown]:hover .dropdownmenu,
[data-dropdown].ativo .dropdownmenu {
  display: block;
  animation: showup 0.6s forwards;
}
@keyframes showup {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* footer */
.whatsapp {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 500;
  transition: 0.4s;
}
.whatsapp:hover {
  filter: brightness(80%);
}
footer {
  background: #6e1e00;
  box-shadow: 0px -5px 20px #0000005c;
  padding: 40px 0;
}

/* responsivo */
@media (max-width: 1500px) {
  p {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 12px;
  }
  .bg svg {
    height: 500px;
  }
  .container {
    width: 90%;
  }
  .btn {
    height: 60px;
    padding: 10px;
    font-size: 14px;
  }
  .infos_header a,
  .nav_menu a {
    font-size: 16px;
  }
  .itens_produtos {
    gap: 60px !important;
  }
  .titulo {
    font-size: 30px;
  }
  .crie {
    font-size: 18px !important;
  }
  .sub h2 {
    font-size: 18px;
  }
  .sub {
    margin-top: 14px;
  }
}
@media (max-width: 1100px) {
  .btn_mobile {
    display: block;
    margin-right: 85px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 2000;
  }
  .btn_mobile.ativo .hamburgger {
    border-top: none !important;
  }
  .btn_mobile.ativo .hamburgger::after {
    transform: rotate(45deg);
  }
  .btn_mobile.ativo .hamburgger::before {
    transform: rotate(-45deg);
    top: 10px;
  }
  .hamburgger {
    display: block;
    border-top: 3px solid #ea4700;
    transition: 0.4s;
  }
  .hamburgger::after,
  .hamburgger::before {
    content: "";
    width: 40px;
    height: 3px;
    background: #ea4700;
    display: block;
    margin-top: 8px;
    position: relative;
    transition: 0.4s;
  }
  .oculto {
    display: flex;
  }
  .oculto a path {
    transition: 0.4s;
  }
  .oculto a:hover path {
    fill: #fff;
  }
  .nav_menu {
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
    height: 100vh;
    z-index: 1000;
    background: #480600;
    padding-top: 120px;
    align-items: center;
    padding-right: 0;
    overflow: hidden;
    transition: 0.4s;
    width: 0;
  }
  .nav_menu.ativo {
    overflow: auto;
    width: 200px;
    padding-right: 20px;
  }
  .nav_menu a {
    padding: 20px 10px;
    display: block;
  }
  .phone,
  .email {
    display: none;
  }

  .dropdownmenu {
    position: static;
    padding-top: 0;
    margin-left: 20px;
  }
  [data-dropdown] {
    max-width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .dropdownmenu li a {
    font-size: 16px;
    text-align: center !important;
    display: block;
  }
  .dropdownmenu li img {
    display: none;
  }
  .crie {
    font-size: 16px !important;
  }
}
@media (max-width: 900px) {
  .btn_ligth {
    margin: 30px auto;
  }
  .sub {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .sub h2 {
    font-size: 16px;
  }
}
@media (max-width: 769px) {
  .titulo {
    font-size: 24px;
    line-height: 30px;
  }
  .titulo::after {
    width: 120px;
    height: 3px;
    margin: 10 px auto 0 auto;
  }
}
@media (max-width: 550px) {
  .btn_mobile {
    margin-right: 25px;
  }
  .logo svg {
    height: 40px;
  }
  .infos_header a {
    margin-left: 0;
  }
}
